<div class="no-question">
    <img src="/images/noquestions.svg" alt="Sem Perguntas">
    <P>Nenhuma pergunta por aqui...</P>
    <p>Faça sua primeira pergunta e envie o </br>
        código dessa aula para as outras pessoas!</p>
</div>